@charset "UTF-8";

* {
    box-sizing: border-box;
}

section {
    height: 1400px;
}


.lateral {
    position: relative;
    top: -20px;
    left: 170px;
    width: 260px;
    background-color: #F1F1F1;
    height: 800px;
}

.lateral1 {
    position: relative;
    top: -20px;
    left: 170px;
    width: 260px;
    background-color: #F1F1F1;
    height: 800px;
}

.dropdown10 {
    display: none;

}





.tit1 {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 23px;
    font-family: 'Raleway', sans-serif;
}

.tit2 {
    position: absolute;
    left: 15px;
    top: 50px;
    font-size: 23px;
    font-family: 'Raleway', sans-serif;
}

.sub1 {
    position: absolute;
    left: 15px;
    top: 100px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

form {
    width: 260px;
    position: relative;
    top: 170px;
}

label {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    margin-left: 12px;

}

input {
    width: 230px;
    height: 40px;
    margin-bottom: 15px;
    margin-left: 12px;
    margin-top: 15px;
    border: 1px solid #CCCCCC;

}

.but1 {
    width: 230px;
    height: 50px;
    margin-bottom: 15px;
    margin-left: 12px;
    margin-top: 15px;
    background-color: #4CAF50;
    border: none;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.bi-search {
    margin-right: 10px;
}

.text1 {
    position: absolute;
    top: 600px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}

.sub2 {
    margin-left: 12px;
    margin-bottom: 40px;
}

.sub2 i {
    margin-right: 10px;

}

.dropdown-content {
    display: none;
    position: absolute;
    top: -400px;
    left: 170px;
    width: 800px;
    height: 220px;
    padding: 12px 16px;
    z-index: 2;
    opacity: 0;
}



.dropdown:hover .dropdown-content {
    display: block;
}





.geral {
    position: relative;
    top: -810px;
    left: 431px;
    width: 700px;

    height: 600px;
}

.tit4 {
    position: absolute;
    left: 15px;
    top: -8px;
    color: #4CAF50;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.dropdown3 {
    position: absolute;

}

.img1 {
    height: 100px;
    position: absolute;
    width: 160px;
    left: 15px;
    top: 460px;
}


.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 670px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    height: 380px;
    top: 70px;
    left: 15px;
}

.img2 {
    height: 380px;
    position: absolute;
    width: 670px;
    left: 0px;
    top: 0px;
}

.img9 {
    height: 380px;
    position: absolute;
    width: 670px;
    left: 15px;
    top: 70px;
}

.dropdown3:hover .dropdown-content3 {
    display: block;
}

.dropdown4 {
    position: absolute;

}

.img3 {
    height: 100px;
    position: absolute;
    width: 160px;
    left: 185px;
    top: 460px;
}

.dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 670px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    height: 380px;
    top: 70px;
    left: 15px;
}

.img4 {
    height: 380px;
    position: absolute;
    width: 670px;
    left: 0px;
    top: 0px;
}

.dropdown4:hover .dropdown-content4 {
    display: block;
}


.dropdown5 {
    position: absolute;

}

.img5 {
    height: 100px;
    position: absolute;
    width: 160px;
    left: 355px;
    top: 460px;
}

.dropdown-content5 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 670px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    height: 380px;
    top: 70px;
    left: 15px;
}

.img6 {
    height: 380px;
    position: absolute;
    width: 670px;
    left: 0px;
    top: 0px;
}

.dropdown5:hover .dropdown-content5 {
    display: block;
}




.dropdown6 {
    position: absolute;

}

.img7 {
    height: 100px;
    position: absolute;
    width: 160px;
    left: 525px;
    top: 460px;
}

.dropdown-content6 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 670px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    height: 380px;
    top: 70px;
    left: 15px;
}

.img8 {
    height: 380px;
    position: absolute;
    width: 670px;
    left: 0px;
    top: 0px;
}

.dropdown6:hover .dropdown-content6 {
    display: block;
}

.espaço {
    position: relative;
    left: 431px;
    top: -800px;
    width: 700px;
    height: 400px;

}



.tit3 {
    position: absolute;
    left: 15px;
    top: 0px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

.texto1 {
    display: flex;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    width: 700px;
}

.text2 {
    padding-right: 40px;

}

.tit5 {
    position: absolute;
    left: 15px;
    top: 190px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: black;
}

.text3 {
    padding-right: 160px;

}

.textos {
    position: relative;
    top: -820px;
    left: 431px;
    width: 700px;
    height: 600px;
    font-family: 'Raleway', sans-serif;
}

.texto3 {
    margin-left: 15px;
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: black;
}

.tit6 {
    font-size: 20px;
}

.texto4 {
    margin-left: 15px;
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: black;
    border-top: solid 1px #EEEEEE;
    border-bottom: solid 1px #EEEEEE;
    width: 650px;
}

.tit6 {
    font-size: 20px;
}

.contato {
    position: relative;
    top: -960px;
    left: 431px;
    width: 700px;
    height: 600px;
    font-family: 'Raleway', sans-serif;
}

.local {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: black;
    width: 650px;
}

.localização {

    margin-top: 0px;
    margin-bottom: 5px;
}

.sub6 {
    padding-left: 15px;
    padding-bottom: 20px;
}

.form1 {
    position: absolute;
    top: 180px;
    left: 4px;
    padding-bottom: 5px;
}

.input1 {
    width: 650px;
    height: 40px;
    margin-bottom: 5px;
}

@media(max-width: 450px) {
    .dropdown10 {
        display: block;
        position: absolute;
        font-size: 30px;
        color: black;
        left: 10px;
        top: 10px;

    }

    .dropdown-content10 {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 225px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        height: 800px;
        top: 0px;
        left: -200px;
    }

    .lateral1 {
        display: none;
    }

    .lateral {
        position: relative;
        top: -20px;
        left: 170px;
        width: 260px;
        background-color: #F1F1F1;
        height: 900px;
    }

    .text1 {
        position: absolute;
        top: 700px;
        font-family: 'Raleway', sans-serif;
        font-size: 17px;
    }

    .dropdown10:hover .dropdown-content10 {
        display: block;
    }

    .geral {
        top: 40px;
        left: -15px;
        width: 450px;
        height: 1000px;
    }


    .dropdown3 {
        position: absolute;

    }

    .img1 {
        height: 100px;
        position: absolute;
        width: 100px;
        left: 15px;
        top: 410px;
    }


    .dropdown-content3 {
        display: none;
        width: 450px;
        padding: 12px 16px;
        z-index: 1;
        height: 330px;
        top: 70px;
        left: 15px;
    }

    .img2 {
        height: 330px;
        position: absolute;
        width: 435px;
        left: 0px;
        top: 0px;
    }

    .img9 {
        height: 330px;
        position: absolute;
        width: 435px;
        left: 15px;
        top: 70px;
    }



    .dropdown4 {
        position: absolute;

    }

    .img3 {
        height: 100px;
        width: 100px;
        left: 125px;
        top: 410px;
    }




    .dropdown-content4 {
        display: none;
        width: 450px;
        padding: 12px 16px;
        z-index: 1;
        height: 330px;
        top: 70px;
        left: 15px;
    }

    .img4 {
        height: 330px;
        position: absolute;
        width: 435px;
        left: 0px;
        top: 0px;
    }

    .dropdown5 {
        position: absolute;

    }

    .img5 {
        height: 100px;
        width: 100px;
        left: 235px;
        top: 410px;
    }

    .dropdown-content5 {
        display: none;
        width: 450px;
        padding: 12px 16px;
        z-index: 1;
        height: 330px;
        top: 70px;
        left: 15px;
    }

    .img6 {
        height: 330px;
        position: absolute;
        width: 435px;
        left: 0px;
        top: 0px;
    }


    .dropdown6 {
        position: absolute;

    }

    .img7 {
        height: 100px;
        width: 100px;
        left: 350px;
        top: 410px;
    }

    .dropdown-content6 {
        display: none;
        width: 450px;
        padding: 12px 16px;
        z-index: 1;
        height: 330px;
        top: 70px;
        left: 15px;
    }

    .img8 {
        height: 330px;
        position: absolute;
        width: 435px;
        left: 0px;
        top: 0px;
    }


    .espaço {
        left: -15px;
        top: -450px;
        width: 450px;
    }

    .texto1 {
        display: flex;
        padding-top: 50px;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        width: 440px;
    }

    .text2 {
        padding-right: 0px;
        width: 220px;
    }

    .text3 {
        width: 200px;
        padding-right: 0px;
    }

    .tit5 {
        left: 15px;
        top: 170px;
        font-size: 25px;
        font-family: 'Raleway', sans-serif;
        color: black;
    }

    .textos {
        position: relative;
        top: -510px;
        left: -15px;
        width: 450px;
        height: 600px;
        font-family: 'Raleway', sans-serif;
    }

    .subtext {
        width: 440px;

    }

    .sub5 {
        width: 445px;

    }

    .but1 {
        width: 400px;

    }

    .contato {
        top: -590px;
        left: -15px;
        width: 450px;
    }

    .input1 {
        width: 430px;
    }

    .texto4 {
        margin-left: 15px;
        padding-top: 10px;
        width: 430px;
    }

    .local {
        padding-top: 10px;
        padding-left: 15px;
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        color: black;
        width: 450px;
    }
}